@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

.font-poppins {
  font-family: var(--font-poppins);
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  min-height: 100%;
  background: linear-gradient(to right, rgb(186, 169, 250), rgb(183, 236, 253));
  background-size: 100% 200%;
  animation: Gradient 5s ease infinite;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to right, rgb(230, 193, 250), rgb(226, 227, 253));
  -webkit-mask: linear-gradient(#fff, transparent);
  mask: linear-gradient(#fff, transparent);
}

@keyframes Gradient {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 200%;
  }
}
